{% extends "layout/layout.html" %}
{% block content %}
<div class="content-container">
  <div class="main-content">
    <div class="container">
      <div class="title-wrap">
        <div class="title">
          <h1 class="title__ttl">О нас</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная </a></li>
            <li class="breadcrumb-item active" aria-current="page">О нас</li>
          </ol>
        </nav>
      </div>
      <div class="article-content">
        <div class="sm-grid">
          <div class="sm-width-1-3@l sm-width-1-2@m sm-width-1-1@s">
            <div class="timesheet mb15">
              <div class="timesheet__circle timesheet__circle-item">
                <div class="timesheet__circle--inner timesheet__circle-item">
                  <div class="timesheet__circle--icon">
                    <svg>
                      <use href="img/icons.svg#stethoscope"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h2 class="timesheet__title">Время работы</h2>
              <table class="timesheet__table">
                {%- for item in [
                  { day: "Понидельник", time: "08:30 – 16:00"},
                  { day: "Вторник", time: "08:30 – 16:00"},
                  { day: "Среда", time: "08:30 – 16:00"},
                  { day: "Четверг", time: "08:30 – 16:00"},
                  { day: "Пятница", time: "08:30 – 16:00"},
                  { day: "Суббота", time: "08:30 – 16:00"},
                  { day: "Воскирсений", time: "Выходной день"}
                ] %}
                <tr>
                  <th>
                    <span class="timesheet__txt">{{item.day}}</span>
                  </th>
                  <td>{{item.time}}</td>
                </tr>
                {%- endfor %}
              </table>
            </div>
            <img src="img/MRI.jpg" alt="" />
          </div>
          <div class="sm-width-2-3@l sm-width-1-2@m sm-width-1-1@s">
            <div class="about-title">
              <h2 class="ttl">Республиканский Научно-Практический Центр Спортивной Медицины</h2>
            </div>
            <article>
              <p>Президент Узбекистана Ислам Каримов подписал Постановление «О создании Республиканского
                научно-практического центра спортивной медицины при Национальном Олимпийском комитете Республики
                Узбекистан»</p>

              <p>(№ПП-1994 от 3 июля 2013 года). Решение принято в целях
                создания необходимых условий для дальнейшего развития спортивной медицины в Республике и широкого
                внедрения ее передовых достижений в процесс комплексной физической и психологической подготовки
                спортсменов – членов сборных команд страны к Олимпийским, Азиатским играм, чемпионатам мира и Азии,
                другим международным соревнованиям. Президент Узбекистана Ислам Каримов подписал Постановление «О
                создании
                Республиканского научно-практического центра спортивной медицины при Национальном Олимпийском комитете
                Республики Узбекистан»</p>

              <p>(№ПП-1994 от 3 июля 2013 года). Решение принято в целях
                создания необходимых условий для дальнейшего развития спортивной медицины в Республике и широкого
                внедрения ее передовых достижений в процесс комплексной физической и психологической подготовки
                спортсменов – членов сборных команд страны к Олимпийским, Азиатским играм, чемпионатам мира и Азии,
                другим
                международным соревнованиям. Президент Узбекистана Ислам Каримов подписал Постановление «О создании
                Республиканского научно-практического центра спортивной медицины при Национальном Олимпийском комитете
                Республики Узбекистан»</p>

              <p>(№ПП-1994 от 3 июля 2013 года). Решение принято в целях
                создания необходимых условий для дальнейшего развития спортивной медицины в Республике и широкого
                внедрения ее передовых достижений в процесс комплексной физической и психологической подготовки
                спортсменов – членов сборных команд страны к Олимпийским, Азиатским играм, чемпионатам мира и Азии,
                другим
                международным соревнованиям. Президент Узбекистана Ислам Каримов подписал Постановление «О создании
                Республиканского научно-практического центра спортивной медицины при Национальном Олимпийском комитете
                Республики Узбекистан»</p>

              <p>(№ПП-1994 от 3 июля 2013 года). Решение принято в целях
                создания необходимых условий для дальнейшего развития спортивной медицины в Республике и широкого
                внедрения ее передовых достижений в процесс комплексной физической и психологической подготовки
                спортсменов – членов сборных команд страны</p>
            </article>
          </div>
          <div class="sm-width-1-1@s">
            <p>Президент Узбекистана Ислам Каримов подписал Постановление «О создании Республиканского
              научно-практического центра спортивной медицины при Национальном Олимпийском комитете Республики
              Узбекистан» (№ПП-1994 от 3 июля 2013 года). Решение принято в целях создания необходимых условий для
              дальнейшего развития спортивной медицины в Республике и широкого внедрения ее передовых достижений в
              процесс комплексной физической и психологической подготовки спортсменов – членов сборных команд страны к
              Олимпийским, Азиатским играм, чемпионатам мира и Азии, другим международным соревнованиям.</p>

            <p>Президент Узбекистана Ислам Каримов подписал Постановление «О создании Республиканского
              научно-практического центра спортивной медицины при Национальном Олимпийском комитете Республики
              Узбекистан»</p>

            <p>(№ПП-1994 от 3 июля 2013 года). Решение принято в целях
              создания необходимых условий для дальнейшего развития спортивной медицины в Республике и широкого
              внедрения ее передовых достижений в процесс комплексной физической и психологической подготовки
              спортсменов – членов сборных команд страны к Олимпийским, Азиатским играм, чемпионатам мира и Азии, другим
              международным соревнованиям.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}