{% extends "layout/layout.html" %}
{% block content %}
<div class="content-container">
  <div class="main-content">
    <div class="container">
      <div class="title-wrap">
        <div class="title">
          <h1 class="title__ttl">Вопросы и ответы</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная </a></li>
            <li class="breadcrumb-item active" aria-current="page">Вопросы и ответы</li>
          </ol>
        </nav>
      </div>
      <div class="article-content">
        <div class="sm-grid">
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s faq-item">
            <div class="faq-wrap faq">
              {%- for item in [
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                }
              ] %}
              <div class="faq__item">
                <a class="faq__item--question" href="/{{item.link}}" title="{{item.question}}">{{item.question}}</a>
                <div class="faq__item--answer">{{item.answer}}</div>
              </div>
              {%- endfor %}
              <div class="w-100">
                <a class="read-more" href="/#" title="">Все вопросы и ответы <i class="icon-right-open-mini"></i></a>
              </div>
            </div>
          </div>
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s faq-item">
            <div class="faq-wrap faq">
              {%- for item in [
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                }
              ] %}
              <div class="faq__item">
                <a class="faq__item--question" href="/{{item.link}}" title="{{item.question}}">{{item.question}}</a>
                <div class="faq__item--answer">{{item.answer}}</div>
              </div>
              {%- endfor %}
              <div class="w-100">
                <a class="read-more" href="/#" title="">Все вопросы и ответы <i class="icon-right-open-mini"></i></a>
              </div>
            </div>
          </div>
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s faq-item">
            <div class="faq-wrap faq">
              {%- for item in [
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                }
              ] %}
              <div class="faq__item">
                <a class="faq__item--question" href="/{{item.link}}" title="{{item.question}}">{{item.question}}</a>
                <div class="faq__item--answer">{{item.answer}}</div>
              </div>
              {%- endfor %}
              <div class="w-100">
                <a class="read-more" href="/#" title="">Все вопросы и ответы <i class="icon-right-open-mini"></i></a>
              </div>
            </div>
          </div>
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s faq-item">
            <div class="faq-wrap faq">
              {%- for item in [
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                },
                { 
                  question: "Россия Федерациясининг Свердловский вилояти Соғлиқни сақлаш вазири, тиббиёт фанлари номзоди Андрей Цветков бошчилигидаги ишчи гуруҳ 23 октябрь куни Миллий олимпия қўмитасида бўлди ?", 
                  answer: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда",
                  link: "link1"
                }
              ] %}
              <div class="faq__item">
                <a class="faq__item--question" href="/{{item.link}}" title="{{item.question}}">{{item.question}}</a>
                <div class="faq__item--answer">{{item.answer}}</div>
              </div>
              {%- endfor %}
              <div class="w-100">
                <a class="read-more" href="/#" title="">Все вопросы и ответы <i class="icon-right-open-mini"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}