{% extends "layout/layout.html" %}
{% block content %}
<div class="content-container">
  <div class="main-content">
    <div class="container">
      <div class="title-wrap">
        <div class="title">
          <h1 class="title__ttl">О нас</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная </a></li>
            <li class="breadcrumb-item"><a href="#">Новости </a></li>
            <li class="breadcrumb-item active" aria-current="page">Узбекистан спорт академия</li>
          </ol>
        </nav>
      </div>
      <div class="article-content">
        <div class="sm-grid">
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s">
            <img src="/img/news.jpg" alt="" />
          </div>
          <div class="sm-width-1-2@l sm-width-1-2@m sm-width-1-1@s">
            <div class="gridbox__body">
              <div class="gridbox__subtitle">Июнь, 17, 2020</div>
              <h4 class="gridbox__title">Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда</h4>
            </div>
            <p>18-летний Жасур Жалолиддинов в ближайшее время перейдет в московский Локомотив. Об этом сообщают СМИ.</p>

            <p>Московский клуб уже обратился к руководству Бунёдкора по поводу трансфера игрока. Локомотив планирует
              приобрести Жалолиддинова и оставить его в Бунёдкоре в аренде на полгода.</p>

            <p>В настоящее время юной вингер оценивается в 450-500 тысяч евро. Ожидается, что в ближайшее время трансфер
              будет оформлен официально. Напоминаем, что ранее итальянский Беневенто проявлял интерес к Жасуру. Однако,
              клуб не смог приобрести игрока из-за финансовых трудностей на фоне пандемии.
              18-летний Жасур Жалолиддинов в ближайшее время перейдет в московский Локомотив. Об этом сообщают СМИ.</p>

            <p>Московский клуб уже обратился к руководству Бунёдкора по поводу трансфера игрока. Локомотив планирует
              приобрести Жалолиддинова и оставить его в Бунёдкоре в аренде на полгода</p>
          </div>
        </div>

        <p>

        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}