{% extends "layout/layout.html" %}
{% block content %}
<div class="content-container">
  <div class="main-content">
    <div class="container">
      <div class="title-wrap">
        <div class="title">
          <h1 class="title__ttl">Новости</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная </a></li>
            <li class="breadcrumb-item active" aria-current="page">Новости</li>
          </ol>
        </nav>
      </div>
      <div class="article-content">
        <div class="gridbox sm-grid news-grid">
          {%- for item in [
            { 
              title: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда", 
              date: "Июнь, 17, 2020",
              image: "staff05",
              link: "link01"
            },
            { 
              title: "РСТИАМда бўш иш ўринлари ҳақида эълон!", 
              date: "Июнь, 17, 2020",
              image: "doctor02",
              link: "link01"
            },
            { 
              title: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда", 
              date: "Июнь, 17, 2020",
              image: "doctor03",
              link: "link01"
            },
            { 
              title: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда", 
              date: "Июнь, 17, 2020",
              image: "staff05",
              link: "link01"
            },
            { 
              title: "РСТИАМда бўш иш ўринлари ҳақида эълон!", 
              date: "Июнь, 17, 2020",
              image: "doctor02",
              link: "link01"
            },
            { 
              title: "Ўзбекистон спорт тиббиёти бўйича Россия билан ҳамкорлигини кучайтирмоқда", 
              date: "Июнь, 17, 2020",
              image: "doctor03",
              link: "link01"
            }
          ] %}
          <div class="sm-width-1-3@l sm-width-1-3@m sm-width-1-2@s gridbox__item">
            <div class="gridbox__cover">
              <a class="gridbox__link" href="/{{item.link}}" title="">
                <img class="gridbox__image" src="img/{{item.image}}.jpg" alt="" />
              </a>
            </div>
            <div class="gridbox__body">
              <div class="gridbox__subtitle">{{item.date}}</div>
              <h4 class="gridbox__title"><a href="/{{item.link}}">{{item.title}}</a></h4>
            </div>
            <div class="gridbox__footer">
              <a href="/{{item.link}}" title="{{item.link}}" class="gridbox__readmore">
                Читать дальшее
                <i class="icon-right-open-mini"></i>
              </a>
            </div>
          </div>
          {%- endfor %}
        </div>

        <nav class="pagnav">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}